#admin-paynocchiointegrated {
    display: none;
}

.btn.disabled {
    pointer-events: none;
}

.core_payment_gateways_modal .paynocchio .icon {
    height: 40px;
    width: auto;
}

.paynocchio-payment-description {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

.paynocchio-button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.paynocchio-btn-primary {
    position: relative;
    padding: 10px 40px;
    background: #0a78d1;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
}

.paynocchio-spinner {
    display: none;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    color: #fff;
    animation: rotate 1s linear infinite;
    top: 1rem;
    right: 0.5rem;
}

.paynocchio-spinner.active {
    display: block;
}

.spinner-circle {
    opacity: 0.25;
}

.spinner-path {
    opacity: 0.75;
}

#topup_message {
    padding-top: 10px;
}

.paynocchio-profile-block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    max-width: 64rem;
}

.paynocchio-card-container {
    display: flex;
    justify-content: center;
}

.paynocchio-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 5 / 3;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
    color: #fff;
    background: #3b82f6;
}

.paynocchio-card-header,
.paynocchio-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

.paynocchio-card-footer {
    align-items: center;
}

.paynocchio-card .on_card_embleme {
    height: 66px;
    width: 50px;
}

.paynocchio-card .on_card_embleme img {
    max-width: 100%;
}

.paynocchio-balance-bonuses {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    padding-top: 40px;
    font-size: .875rem;
    line-height: 1.25rem;
    z-index: 20;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.paynocchio-card .paynocchio-card-number {
    display: flex;
    line-height: 1.5rem;
}

.paynocchio-description-grid {
    display: grid;
    max-width: 54rem;
    margin: 0 auto 2.5rem auto;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    column-gap: 1.5rem;
    row-gap: 3rem;
}

.paynocchio-grid-row {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.paynocchio-grid-row img {
    max-width: 100%;
}

.paynocchio-grid-row h2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin-bottom: 0;
}

.paynocchio_payment_card_button {
    text-decoration-line: none;
    white-space: nowrap;
}

.paynocchio-actions-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
}

#wallet_status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
}

#wallet_status:before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#wallet_status.active:before {
    background: green;
}

#wallet_status.suspend:before {
    background: #a6982b;
}

#wallet_status.blocked:before {
    background: red;
}

.paynocchio-mini-block {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 2rem;
    opacity: 0.5;
    color: inherit;

}

.paynocchio-mini-block:hover {
    text-decoration: none;
}

.paynocchio-mini-block.status-ACTIVE {
    opacity: 1;
}

.paynocchio-mini-block img {
    max-width: 50px;
}

.paynocchio-profile-block .paynocchio-card {
    opacity: 0.5;
}

.paynocchio-profile-block.status-ACTIVE .paynocchio-card {
    opacity: 1;
}

.paynocchio-status-block .paynocchio-actions-btns {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    justify-content: flex-start;
}

.paynocchio_button {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background: #fff;
    color: #3b82f6;
}

.paynocchio_colored {
    color: #fff;
    background: #3b82f6;
}

.paynocchio_payment_card_button svg {
    width: 20px;
    height: 20px;
}

.paynocchio-conversion-rate {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.paynocchio-conversion-rate h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}

.paynocchio-conversion-rate form {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.paynocchio_pay_form #bonuses-value {
    background-color: transparent;
    border: none;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 0;
    width: 100px;
}

.topup-description {
    padding-top: 2rem;
    font-weight: 500;
    text-align: center;
}

.paynocchio-inline-form {
    display: flex;
    gap: 1rem;
}

.paynocchio-inline-form input {
    border-radius: 10px;
    font-size: 1.3rem;
}

.spinner {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.spinner .paynocchio-spinner {
    position: relative;
    display: none;
    width: 1.25rem;
    height: 1.25rem;
    color: blue;
    animation: rotate 1s linear infinite;
    top: auto;
    right: auto;
}

.spinner .paynocchio-spinner.active {
    display: block;
}

.paynocchio-transactions {
    padding-top: 3rem;
}

.paynocchio-transactions-table {
    width: 100%;
}
.paynocchio-transactions-table th,
.paynocchio-transactions-table td {
    padding: 0.5rem;
}

button.disabled {
    pointer-events: none;
    opacity: 0.75;
}

.paynocchio-status {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .paynocchio-card .paynocchio-card-number {
        font-size: 1.25rem;
        gap: .5rem;
        line-height: 1.75rem;
    }
    .paynocchio-balance-bonuses {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}