.core_payment_gateways_modal .paynocchio .icon {
    height: 40px;
    width: auto;
}

.paynocchio-payment-description {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}