{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_paynocchio/paynocchio_wallet_activation

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}

}}
<div>
    <div class="banner shadow rounded p-4 d-flex flex-row align-items-end gap-4" style="background:#f2f2f2;">
        <div class="w-50">
            <div style="margin-bottom: 20px;width:170px;height:auto;padding:10px;border:1px solid #e2e2e2;background:{{cardBg}};display: flex;align-items: center; justify-content: center;">
                {{{logo}}}
            </div>
            <h1 style="margin-bottom:2rem;font-weight:bold;margin-right:2rem;">Study well, earn and get rewarded with our loyalty
                program
            </h1>
            <a class="btn btn-primary" href="/payment/gateway/paynocchio/my_paynocchio_wallet.php">
                Activate Campus.Pay Wallet
            </a>
        </div>
        <div class="w-50">
            <img src="https://airticket-demo.com/wp-content/uploads/2024/05/kenny-eliason-zFSo6bnZJTw-unsplash-scaled.jpg" class="rounded w-100" alt="Students with teacher in classroom, img" width="733" height="456">
        </div>
    </div>

    <div class="mt-4">
        <div class="card card-body shadow">
            <div class="d-flex align-items-stretch flex-wrap flex-row">
                <div class="w-50 pr-2 mb-4">
                    <div class="shadow h-100 p-4 rounded">
                        <div class="d-flex align-items-center">
                            <div class="icon-lg text-white rounded-circle">
                                <img src="https://airticket-demo.com/wp-content/themes/kopybara-new-theme/static/edu1.webp" style="width:80px;height:80px;" alt="edu1.webp">
                            </div>
                            <div class="col ps-3">
                                <h5>Choose the desired course</h5>
                                <div class="box-content">
                                    <p class="m-0">
                                        The reward system works for any paid course on our platform.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-50 pl-2 mb-4">
                    <div class="shadow h-100 p-4 rounded">
                        <div class="d-flex align-items-center">
                            <div class="icon-lg text-white rounded-circle">
                                <img src="https://airticket-demo.com/wp-content/themes/kopybara-new-theme/static/edu2.webp" style="width:80px;height:80px;" alt="edu2.webp">
                            </div>
                            <div class="col ps-3">
                                <h5>Activate Campus.Pay Wallet</h5>
                                <div class="box-content">
                                    <p class="m-0">
                                        The wallet is a great tool that will help you to recover some of the funds you spent
                                        for purchase of the course.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-50 pr-2 mb-4">
                    <div class="shadow h-100 p-4 rounded">
                        <div class="d-flex align-items-center">
                            <div class="icon-lg text-white rounded-circle">
                                <img src="https://airticket-demo.com/wp-content/themes/kopybara-new-theme/static/edu3.webp" style="width:80px;height:80px;" alt="edu3.webp">
                            </div>
                            <div class="col ps-3">
                                <h5>Checkout your order</h5>
                                <div class="box-content">
                                    <p class="m-0">
                                        And get up to 10% back with our reward campaign.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-50 pl-2 mb-4">
                    <div class="shadow h-100 p-4 rounded">
                        <div class="d-flex align-items-center">
                            <div class="icon-lg text-white rounded-circle">
                                <img src="https://airticket-demo.com/wp-content/themes/kopybara-new-theme/static/edu4.webp" style="width:80px;height:80px;" alt="edu4.webp">
                            </div>
                            <div class="col ps-3">
                                <h5>Well done!</h5>
                                <div class="box-content">
                                    <p class="m-0">
                                        Now you can purchase other courses using your reward points!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>