{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_paynocchio/paynocchio_wallet_activation

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}

}}
<div>
    <div class="banner shadow rounded p-4 d-flex flex-row align-items-end gap-4" style="background:#f2f2f2;">
        <div class="w-50">
            <div style="margin-bottom: 20px;width:200px;height:auto;padding:10px;border:1px solid #e2e2e2;background:{{cardBg}};display: flex;align-items: center; justify-content: center;">
                {{{logo}}}
            </div>
            <h1 style="margin-bottom:2rem;font-weight:bold;margin-right:2rem;">
                Study well, earn and get rewarded with our loyalty program
            </h1>
            <a class="btn btn-primary" href="/payment/gateway/paynocchio/my_paynocchio_wallet.php">
                Activate Academy.Pay Wallet
            </a>
        </div>
        <div class="w-50">
            <img src="https://airticket-demo.com/wp-content/uploads/2024/05/kenny-eliason-zFSo6bnZJTw-unsplash-scaled.jpg" class="rounded w-100" alt="Students with teacher in classroom, img" width="733" height="456">
        </div>
    </div>

    <div class="mt-4">
        <div class="card card-body shadow">
            <div class="d-flex align-items-stretch flex-wrap flex-row">
                <div class="col">
                    <div class="shadow h-100 p-4 rounded">
                        <div class="d-flex">
                            <div class="icon-lg text-white rounded-circle">
                                <img src="/payment/gateway/paynocchio/pix/icon1.png" style="width:56px;height:56px;" alt="Icon">
                            </div>
                            <div class="col ps-3">
                                <h5>Step 1: Select Your Preferred Course</h5>
                                <div class="box-content">
                                    <p class="m-0">
                                        Our reward system is applicable to any paid course available on our platform.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="shadow h-100 p-4 rounded">
                        <div class="d-flex">
                            <div class="icon-lg text-white rounded-circle">
                                <img src="/payment/gateway/paynocchio/pix/icon2.png" style="width:56px;height:56px;" alt="Icon">
                            </div>
                            <div class="col ps-3">
                                <h5>Step 2: Activate Academy.Pay Wallet</h5>
                                <div class="box-content">
                                    <p class="m-0">
                                        Deposit funds into the wallet and receive cashback bonuses!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="shadow h-100 p-4 rounded">
                        <div class="d-flex">
                            <div class="icon-lg text-white rounded-circle">
                                <img src="/payment/gateway/paynocchio/pix/icon3.png" style="width:56px;height:56px;" alt="Icon">
                            </div>
                            <div class="col ps-3">
                                <h5>Step 3: Complete Your Order</h5>
                                <div class="box-content">
                                    <p class="m-0">
                                        Finalize your order and receive up to 30% back.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="shadow h-100 p-4 rounded">
                        <div class="d-flex">
                            <div class="icon-lg text-white rounded-circle">
                                <img src="/payment/gateway/paynocchio/pix/icon4.png" style="width:56px;height:56px;" alt="Icon">
                            </div>
                            <div class="col ps-3">
                                <h5>Step 4: Congratulations!</h5>
                                <div class="box-content">
                                    <p class="m-0">
                                        You can now use your reward points to purchase other courses!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>