{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_paynocchio/paynocchio_wallet_activation

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}

}}
<div>

    {{#data}}
        {{#completed}}
            <div class="mb-4 fs-5">Congratulations! You have been enrolled in this course!</div>
        {{/completed}}
        {{^completed}}
            <p class="mb-4">Payment was made but we need to confirm it. Usually it takes couple of minutes.</p>
            <p class="mb-4">Please refresh this page or check <a href="/my/courses.php" >your courses page</a>. After confirmation we will send email confirmation.</p>
            <p class="mb-4">Feel free to <a href="/user/contactsitesupport.php">contact support</a> in any case.</p>
        {{/completed}}
    <table class="{{#completed}}table-success{{/completed}}{{^completed}}table-warning{{/completed}} table-bordered mb-4">
        <tr><th class="p-2">Date</th><th class="p-2">Paid</th><th class="p-2">Bonuses earned</th><th class="p-2">Status</th></tr>
            <tr>
                <td class="p-2">{{#userdate}} {{timecreated}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}</td>
                <td class="p-2">{{totalamount}}</td>
                <td class="p-2">{{reward}}</td>
                <td class="p-2">{{status}}</td>
            </tr>
    </table>
    {{/data}}

    <div class="mb-4 text-sm">
        <h5>Statuses</h5>
        <ul>
            <li>P = pending</li>
            <li>C = completed</li>
        </ul>
    </div>

    <p><a href="/my/courses.php" >
        My Courses
    </a></p>
</div>