{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_paynocchio/paynocchio_wallet_activation

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}

}}
<div class="paynocchio-wallet-wrapper">
    <div class="paynocchio-card-container">
        <div class="paynocchio-card">
            <img decoding="async" src="{{logo}}" class="on_card_embleme">
            <div class="paynocchio-balance-bonuses">
                <div class="paynocchio-balance">
                    <div>
                        Balance
                    </div>
                    <div class="amount">
                        $0
                    </div>
                </div>
                <div class="paynocchio-bonuses">
                    <div>
                        Bonuses
                    </div>
                    <div class="amount">
                        0
                    </div>
                </div>
            </div>
            <div class="paynocchio-card-number">
                <div>• • • •</div>
                <div>• • • •</div>
                <div>• • • •</div>
                <div>• • • •</div>
            </div>
        </div>
    </div>
    <div class="paynocchio-description-grid">
        <div class="paynocchio-grid-row">
            <div>
                <img decoding="async" src="https://kopybara.com/wp-content/plugins/woocommerce-paynocchio/assets/img/icon_1.svg" alt="">
            </div>
            <div>
                <h2>Be a member</h2>
                <p>Login or register</p>
            </div>
        </div>
        <div class="paynocchio-grid-row">
            <div>
                <img decoding="async" src="https://kopybara.com/wp-content/plugins/woocommerce-paynocchio/assets/img/icon_2.svg" alt="">
            </div>
            <div>
                <h2>Register your wallet</h2>
                <p>to get the rewards</p>
            </div>
        </div>
        <div class="paynocchio-grid-row">
            <div>
                <img decoding="async" src="https://kopybara.com/wp-content/plugins/woocommerce-paynocchio/assets/img/icon_3.svg" alt="">
            </div>
            <div>
                <h2>Earn bonuses</h2>
                <p>for purchases and topups</p>
            </div>
        </div>
        <div class="paynocchio-grid-row">
            <div>
                <img decoding="async" src="https://kopybara.com/wp-content/plugins/woocommerce-paynocchio/assets/img/icon_4.svg" alt="">
            </div>
            <div>
                <h2>Buy profitable</h2>
                <p>spending bonuses for purchases</p>
            </div>
        </div>
    </div>
    <div class="paynocchio-button-wrapper">
        <div>
            <button id="paynocchio_activation_button"
                    type="button"
                    class="paynocchio-btn-primary">
                <span>Activate your Wallet</span>
                <svg class="paynocchio-spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="spinner-circle" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="spinner-path" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </button>
            <div class="topup-description hidden">
                Activating...
            </div>
        </div>
    </div>
    {{^full_amount}}
        <div class="text-center">
            And get up to 10% bonuses for each top up
            <i class="fa-regular fa-circle-question" type="button" tabindex="0" data-trigger="click" data-container="body" data-toggle="popover" data-placement="top" data-title="How it works" data-content="Earn 10% for each top up! Keep earning rewards and pay with bonuses!"></i>
        </div>
    {{/full_amount}}
    {{#full_amount}}
        <div class="text-center">
            And get up to {{new_amount}} bonuses for this payment
            <i class="fa-regular fa-circle-question" type="button" tabindex="0" data-trigger="click" data-container="body" data-toggle="popover" data-placement="top" data-title="How it works" data-content="Earn 10% per each payment! Keep earning rewards and pay with bonuses!"></i>
        </div>
    {{/full_amount}}
</div>