{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_paynocchio/paynocchio_congratz

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}

}}

<div class="modal_mini" id="congratz">
    <div class="modal_mini_wrapper">
        <h2>
            Congratulations! Your wallet is activated!
        </h2>
        <div class="paynocchio-relative">
            <img src="/payment/gateway/paynocchio/pix/girl_with_dudu.webp" alt="Congratz, img" width="609" height="435" />
            <div class="paynocchio-wallet-card" {{#cardBg}}style="background-color: {{cardBg}}"{{/cardBg}}>
                <div class="on_card_embleme">{{{logo}}}</div>
                <div class="countdown" id="congratz_countdown">5</div>
                <div class="paynocchio-wallet-card-footer">
                    <div class="">
                        {{username}}
                    </div>
                    <div id="card_number" class="paynocchio-card-number">
                        {{#wallet_card}}
                            {{wallet_card}}
                        {{/wallet_card}}
                        {{^wallet_card}}
                            <div>••••</div>
                            <div>••••</div>
                            <div>••••</div>
                            <div>••••</div>
                        {{/wallet_card}}
                    </div>
                </div>
            </div>
        </div>
        <a id="paynocchio_congratz_button" class="paynocchio_done">
            Great!

            <div class="spinner" id="congratz_spinner">
                <svg class="paynocchio-spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="spinner-circle" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="spinner-path" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </div>
        </a>
    </div>
</div>