{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_paynocchio/paynocchio_wallet_activation

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}

}}
<div>
    <div class="mb-2">
        Please enter amount you want to add to you wallet. After clicking "Add money" you will be redirected to Stripe for secure money transfer.
    </div>
    <div class="mb-2">The minimum replenishment amount for this card is $<span id="minimum_topup_amount">{{minimum_topup_amount}}</span>.</div>
    <div class="mb-6">Card limit is $<span id="card_balance_limit">{{card_balance_limit}}</span>.</div>
    <div class="paynocchio-inline-form">
        <div class="paynocchio-fs4">
            $
        </div>
        <input type="number" min="{{minimum_topup_amount}}" step="0.01" name="amount" id="top_up_amount" placeholder="{{minimum_topup_amount}}" value="{{minimum_topup_amount}}">
        <button type="button" id="topup_button" class="paynocchio_button paynocchio_colored btn-lg">
            Add money
        </button>
        <div class="spinner">
            <svg class="paynocchio-spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="spinner-circle" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="spinner-path" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
        </div>
    </div>
    <div id="topup_message"></div>
</div>